body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-top: 8px;
  border-bottom: 1px solid #ddd;
}

.done span {
  text-decoration: line-through;
  color: gray;
}
.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.pagination button {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.pagination .active {
  background-color: black;
  color: white;
}
